# Delphi / RAD Studio
__history/
__recovery/
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.dcu
*.dll
*.exe
*.bpl
*.dcp
*.so
*.apk
*.drc
*.map
*.res
*.ncb
*.sdf
*.opensdf
*.cache
Win32/
Win64/
Android/
iOSDevice/
iOSSimulator/
OSX32/
Linux64/
*.stat
